@{
    ViewBag.Title = "Thông tin";
}
<h2 style="color: #3498DB; font-weight: bold">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Liên hệ: 1612209@student.hcmus.edu.vn || 1612210@student.hcmus.edu.vn</p>

@*@foreach (var item in ViewBag.ListProduct)
{
    <p>@item.pr_id : @item.pr_name</p>
}*@
