@model Byte[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Implementing QRCoder in ASP.NET Core - Create QR Code</title>
</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <h3>Tạo mã QR</h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>Nhập nội dung cần tạo mã QR</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" name="qrText" />
                        <button>Xác nhận</button>
                    </td>
                </tr>
            </tbody>
        </table>
    }

    @{
        if (Model != null)
        {
            <h3>Mã QR khởi tạo thành công!</h3>
            <h5 style="color:red;">* Sử dụng trình quét mã QR của smartphone để quét mã</h5>
            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" />
        }
    }
</body>
</html>
